section.col-md-3
	section.jumbotron
		h4 Stay connected to us on
	iframe(src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=364847430262752", scrolling="no", frameborder="0", style="border:none; overflow:hidden; height:290px;", allowTransparency="true")
