doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Maldivian Insider
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/html5Preloader.js')
		script(src='/javascripts/davis.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/parsley.js')
		script(src='/templates.js')
		script(src='/js/pre.js')
		style .carousel-inner>.item>img, .carousel-inner>.item>a>img{width:100%}
	body(data-spy="scroll", data-target=".navbar-app")
		section.container
			section.row
				section.col-md-4
					a(href='/')
						h1(style="font-weight:600") 
							|Maldivian 
							br
							|Insider
				section.col-md-8.right-align
					nav.navbar.navbar-default(role="navigation")#nav-parent
						div.navbar-header
							button(type='button',data-toggle="collapse",data-target="#nav").navbar-toggle
								span.sr-only Toggle Menu
								span.icon-bar
								span.icon-bar
								span.icon-bar
						div.collapse.navbar-collapse#nav.pull-right
							ul.nav.navbar-nav
								li
									a(href='/') HOME
								li
									a(href='/news') NEWS
								li
									a(href='/gallery') GALLERY
								li
									a(href='/videos') VIDEOS
			block content
			hr
			footer.row
				section.col-md-3
					small &copy; 2014 Maldivian Insider
				section.col-md-3.pull-right.align-right
					small
						a(href='') Site Map
