main-color=#00989E

a
	color main-color
trans(arg)
	transition arg
	-webkit-transition arg
	-moz-transition arg
	-o-transition arg
*
	//font-family "Open Sans" !important

body
	overflow-x: hidden;
.mark
	background #f0f0f0
	border solid 1px #d0d0d0
.align-right
	text-align right
		
.flexible-container
	position: relative
	padding-bottom: 44.25%
	padding-top: 30px
	height: 0
	overflow: hidden
	iframe
	object
	embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
nav
	margin-top: 3em;
.navbar-default
	.navbar-nav
		>li
			&:hover
				background main-color
				>a
					color white
					
			>a
				color main-color
				font-weight: 600;
.navbar-default
	background-color transparent
	border-color transparent		
.nav-pills
	>li.active
		>a
			background-color main-color
body
h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
	font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
	color main-color
.carousel-caption
	background rgba(0,0,0,.5)
	a
		text-decoration none
	h3
		color white

#quickcontact
	>span
		trans(padding .21s ease-in, background .21s ease-in)
		background transparent
		display inline-block
		margin-right 10px
		>span
			&:first-child
				color #00e0ff
#quickcontact.active
	>span
		background #00e0ff
		padding 20px
		font-weight 400	
		>span
			&:first-child
				color white
.white
	color #f0f0f0
.carousel-mover
	color black
	cursor pointer
	margin-bottom: 7px;
	border: solid 1px #c0c0c0;
	height 140px
	padding-left: 10px;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	filter grayscale(1);
	h4
		color white
		text-shadow 1px 1px rgba(1,1,1,.3)
	.col-md-4
		padding-left 0px
	&:hover
		h4
			color main-color

.carousel-mover.active
	-webkit-filter: grayscale(0) !important;
	-moz-filter: grayscale(0) !important;
	filter grayscale(0) !important;
	background #f0f0f0
	color #666
	h4
		color white
		font-weight bold
		
	&:hover
		h4
			color white

.affix-item
	>img
		margin-bottom 10px
.members
	img
		margin-right 5px
		margin-bottom 5px
