doctype html
html.fuelux
	head
		title CMS
		meta(name="robots", content="noindex, nofollow")
		//link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/fuelux.min.css')
		link(rel='stylesheet', href='/stylesheets/cms.css')
		script(type='text/javascript', src='/javascripts/jquery.js')
		style .btn.active{background:gray !important;} body{padding:40px} .wizard-content .control-label{font-size:15px;}.step-content{padding:15px;}			.loading{cursor:progress;}			textarea{width:500px !important; height:150px !important;}
	body

		section.row-fluid
			block content
